/* body {
    overflow-y: clip;
} */

.page {
    width: 100%;
    height: unset !important;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.page img {
    max-width: 100%;
    max-height: 100%;
}

.bookContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background: lightgray;
    overflow: hidden;
}

.bookContent .bookSumm {
    background: white;
    width: 30%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.bookContent .bookBox {
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 500;
    font-style: italic;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.bookContent .bookdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookdata ul {
    margin-top: 30px;
}

.bookdata ul li {
    padding: 10px;
}

.imgs {
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.bookdata h5 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.bookdata ul {
    list-style: none;
    padding: 0;
}

.bookdata ul li {
    font-size: 16px;
    margin: 5px 0;
}

.bookdata ul li::before {
    content: '▶';
    color: #007bff;
    margin-right: 10px;
}

.bookContent .bookBox {
    background: linear-gradient(to right, #007bff, #00cc99);
    color: white;
}


@media (max-width: 1440px) {
    .bookSumm {
        width: 40%;
        font-size: 50px;
    }

    .bookBox {
        font-size: 50px;
    }

    .page img {
        max-width: 95%;
        height: auto;
        margin-top: 20px;
    }

    .imgs {
        height: 180px;
        max-width: 100%;
    }

    .bookdata h5 {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .bookSumm {
        width: 50%;
        font-size: 40px;
    }

    .bookBox {
        font-size: 40px;
    }

    .page img {
        max-width: 95%;
        height: auto;
        margin-top: 20px;
    }

    .imgs {
        height: 160px;
        max-width: 100%;
    }

    .bookdata h5 {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .bookSumm {
        width: 60%;
        font-size: 30px;
    }

    .bookBox {
        font-size: 30px;
    }

    .imgs {
        height: 140px;
        max-width: 100%;
    }

    .bookdata h5 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .bookSumm {
        width: 70%;
        font-size: 20px;
    }

    .bookBox {
        font-size: 20px;
    }

    .bookdata h5 {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .bookBox {
        font-size: 16px;
    }

    .imgs {
        height: 100px;
        max-width: 100%;
    }

    .page img {
        height: 530px;
        max-width: auto;
    }

    .bookdata ul li {
        font-size: 14px;
        margin: 5px 0;
    }

    .bookdata h5 {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .bookSumm {
        width: 80%;
        font-size: 16px;
    }

    .bookBox {
        font-size: 16px;
    }

    .imgs {
        height: 100px;
        max-width: 100%;
    }

    .page img {
        height: 530px;
        max-width: auto;
    }

    .bookdata ul li {
        font-size: 14px;
        margin: 5px 0;
    }

    .bookdata h5 {
        font-size: 14px;
    }
}
 
@media (max-width: 568px) {

    .bookContent{
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .bookContent .bookSumm{
        width: 100%;
        height: 25%;
        padding: 0px;
        border-radius: 0px;
        display: block;
    }

    .bookContent .bookdata {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .bookContent .bookBox{
        width: 100%;
    } 

    .bookdata ul li {
        padding: 0px;
    }

    .imgs {
        height: 80px;
        margin-top: 10px;
    }
}

@media (max-width: 320px) {

    .bookContent .bookdata {
        flex-direction: column;
    }

    .bookdata h5{
        margin: 0px 0;
    }

    .bookdata ul {
        margin-top: 5px;
    }

    .imgs {
        height: 60px;
        margin-top: 0px;
    }

}
